<div class="form-check">
  <div class="row">
    <div class="col-md-8">
      <mat-checkbox
        class="example-margin"
        [(ngModel)]="tarefa.feito"
        [ngStyle]="{ 'text-decoration': tarefa.feito ? 'line-through' : 'none' }"
        (change)="changeItem(tarefa)"
      >
        {{ tarefa.descricao }}
      </mat-checkbox>
    </div>
    <div class="col-md-2">
      <i
        class="fas fa-trash-alt cursor cor"
        matTooltip="Deletar tarefa"
        matTooltipPosition="right"
        (click)="deletar(tarefa.id)"
      ></i>
    </div>
    <div class="col-md-2">
      <i
        class="fas fa-pencil-alt cursor"
        matTooltip="Editar tarefa"
        matTooltipPosition="right"
        (click)="editar(tarefa)"
      ></i>
    </div>
  </div>
</div>
