<form #form="ngForm">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      name="descricao"
      placeholder="Digitar uma tarefa"
      aria-label="Digitar uma tarefa"
      aria-describedby="button-addon2"
      [(ngModel)]="descricao"
      required
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" [disabled]="form.invalid" (click)="adicionar(descricao)">
        Adicionar
      </button>
    </div>
  </div>
</form>
